
name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - develop2
      - 'release/*'
      - main
  pull_request:

env:
  PIP_EXTRA_INDEX_URL_OVERRIDE: "https://nexus.fastit.dev/repository/fast-it/simple https://nexus.ifpen.fr/repository/fast-it/simple"


jobs:
  ruff_guardian:
    runs-on: self-hosted
    container:
      image: harbor.ifpen.fr/fast-it/python:${{ vars.PYTHON_VERSION }}-slim
    if: github.ref != 'refs/heads/develop' || github.event_name != 'workflow_dispatch'
    steps:
      - name: Check proxy
        run: |
          echo $HTTP_PROXY
          echo $HTTPS_PROXY
          echo $NO_PROXY
      - uses: actions/checkout@v3
      - name: Install ruff
        run: pip install ruff
      - name: Run ruff formatting check
        run: |
          if ! ruff format --check .; then
            ruff format .
            exit 1
          fi

#  pytest:
#    runs-on: ubuntu-latest
#    container:
#      image: python:${{ env.PYTHON_VERSION }}-slim
#    needs: ruff_guardian
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set PIP extra index
#        run: echo "PIP_EXTRA_INDEX_URL=${{ env.PIP_EXTRA_INDEX_URL_OVERRIDE }}" >> $GITHUB_ENV
#      - name: Install dependencies
#        run: |
#          apt-get update
#          apt-get install -y git
#          pip install --upgrade pip
#          pip install pytest build pytest-cov
#      - name: Build package
#        run: |
#          rm -rf dist/*
#          python -m build
#          pip install dist/*.whl
#      - name: Run tests
#        run: |
#          pytest -s -o cache_dir=/tmp/.pytest_cache --junitxml="report.xml"
#          pytest -s -o cache_dir=/tmp/.pytest_cache --cov --cov-report term --cov-report xml:"coverage.xml" --cov-report html:"coverage.html"
#      - name: Upload test artifacts
#        uses: actions/upload-artifact@v3
#        with:
#          name: pytest-artifacts
#          path: |
#            report.xml
#            coverage.xml
#            coverage.html
#            dist/
#