
name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - develop2
      - 'release/*'
      - main
  pull_request:

env:
  PIP_EXTRA_INDEX_URL: "https://nexus.fastit.dev/repository/fast-it/simple"
  PYTHON_PATH: "src"


jobs:
  ruff_guardian:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3
      - name: Install ruff
        run: pip install ruff
      - name: Run ruff formatting check
        run: |
          if ! ruff format --check .; then ruff format .; false; fi

  build:
    runs-on: ubuntu-latest
    needs: ruff_guardian
    container:
      image: python:${{ vars.PYTHON_VERSION }}-slim
    steps:
      - uses: actions/checkout@v3
      - name: Install build tool
        run: |
          pip install --upgrade pip
          pip install build
      - name: Build package
        run: |
          rm -rf dist/*
          python -m build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

  pytest:
    runs-on: ubuntu-latest
    container:
      image: python:${{ vars.PYTHON_VERSION }}-slim
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
      - name: Install dependencies
        run: |
          apt-get update
          pip install --upgrade pip
          pip install pytest build pytest-cov
          pip install dist/*.whl
      - name: Run tests
        run: |
          pytest -s -o cache_dir=/tmp/.pytest_cache --junitxml="report.xml"
          pytest -s -o cache_dir=/tmp/.pytest_cache --cov --cov-report term --cov-report xml:"coverage.xml" --cov-report html:"coverage.html"
      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pytest-artifacts
          path: |
            report.xml
            coverage.xml
            coverage.html
            dist/
  
  build-pages:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name != 'workflow_dispatch'
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install sphinx
        run: |
          pip install sphinx sphinx_design myst_parser furo sphinx_autopackagesummary sphinxcontrib-napoleon sphinx-rtd-theme numpydoc
          pip install '.'
      - name: Build Sphinx documentation
        run: |
          rm -rf ./public/*
          sphinx-apidoc -f -o sphinx $PYTHON_PATH
          sphinx-build -b html ./sphinx ./public
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  
  deploy-pages:
    runs-on: ubuntu-latest
    needs: build-pages
    if: github.ref == 'refs/heads/main' && github.event_name != 'workflow_dispatch'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4
